/* font-family: 'Bebas Neue',
cursive;
font-family: 'Black Ops One',
cursive;
font-family: 'Caveat',
cursive;
font-family: 'Oleo Script',
cursive;
font-family: 'Paytone One',
sans-serif;
font-family: 'Quicksand',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Sacramento',
cursive;
font-family: 'Satisfy',
cursive;
font-family: 'Signika Negative',
sans-serif; */


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav .logo{
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Satisfy', cursive;
}

nav .username{
    font-size: medium;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

/* -------------end of nav-------------------- */
@media only screen and (max-width: 450px) {

}